<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand logo" href="/">Chessmate</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
    </ul>
    <ul class="navbar-nav main-nav">
      <li class='nav-item'>
        <%= link_to 'Signup', new_user_registration_path, class: 'main-nav-link' %>
      </li>
      <li class='nav-item '>
        <%= link_to 'Login', new_user_session_path, class: 'main-nav-link' %>
      </li>
      <li class='nav-item' >
    </ul>
  </div>
</nav>
