<h3>Game Show Page</h3>
<%= link_to 'Home', root_path, class: 'btn btn-primary' %>


<div class="board-container">
    <table id="board">
         <% 8.times do |row_index| %>
             <tr>
                 <% 8.times do |col_index| %>
                     <td>
                     
                     </td>
                 <% end %>
             </tr>
         <% end %>        
     </table>
 </div>