body {
  background: url(bg.png);
}
.container {
  color: white;
  margin: 0 auto;
  font-family: 'Audiowide', cursive;
  text-align: center;
}
.input #game_name {
  margin-left: 10px;
}
.alert {
  color: red; 
}