.main-nav {
  display: inline-block;
  float: right;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          

.logo {
  font-family: 'Audiowide', cursive;
}

.main-nav-link {
  padding-right: 30px;
}

.nav-item a{
  color: #6C7A89;
}